@font-face {
  font-family: "Oswald";
  src: url("/website/fonts/Oswald.ttf/");
}

.simon {
  font-size: 0px;
  width: 400px;
  height: 400px;
  
  position: relative;

  margin-bottom: 30px;
}

.panelButton {
  border: solid black;
  width: 200px;
  height: 200px;
}

#earthButton {
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlcHPZ6soeL7eAS_zvOwWrJ00DwY0y0-85aQ&s";
  border-radius: 100% 0 0 0;
  border-width: 20px 10px 10px 20px;
}

#blueButton {
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNv4AYJm14dOWVZzgIw9-clxDRQQucYjnj1w&s";
  border-radius: 0 100% 0 0;
  border-width: 20px 20px 10px 10px;
}

#redButton {
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl9EwYffn_1Vn8oHJmj-IykIPRT-ZvguCFCw&s";
  border-radius: 0 0 0 100%;
  border-width: 10px 10px 20px 20px;
}

#greenButton {
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEIkB_MuhGOFa1nFuf3uF1hwyZipH4Mx4wIQ&s";
  border-radius: 0 0 100% 0;
  border-width: 10px 20px 20px 10px;
}

#lightImg {
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
}

#startButton {
  padding: 5px 8px 5px 8px;

  margin-bottom: 30px;
}

#wrapperDiv {
  display: flex;
  justify-content: space-around;
  width: 300px;

  margin: 30px;
}

button:enabled {
  cursor: pointer;
}